# System for access segmentation

##### imports

In [1]:
import numpy as np
import pandas as pd
import os

#### Get data from results/data folder

In [2]:
data = pd.data = pd.read_excel("../server/public/data/User-624921c5e1c4d602ddd19695-1649042286214.xlsx", skiprows=1)

In [3]:
data

,user_id,position,org_structure,access_name
0,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:GOOGLE:ACCOUNT
1,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:BAMP900:PB:USER
2,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:BAMP900:RMS:HR_USER
3,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:BGWP960:PB:FIORI_FLP
4,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:BAMP900:FI:TV:TRAVELER
...,...,...,...,...
199530,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BAMP900:HR:ESS:CLAIMS_REIMBURSEMENT
199531,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BGWP960:IT:GW:PASSWORD_SELF_SERVICE
199532,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BAMP900:IT:BUSINESS_JOB_RELEASE_ACCESS
199533,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BGWP960:KS:KITS_CONFERENC_ROOM_BOOKING
199534,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BGWP960:KS:KITS_EMPLOYEE_EQUIPMENT_GRP

In [4]:
data.columns = ["user_id", "job", "department", "privileges_data"]

In [5]:
data = data.dropna()

In [6]:
data

,user_id,job,department,privileges_data
0,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:GOOGLE:ACCOUNT
1,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:BAMP900:PB:USER
2,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:BAMP900:RMS:HR_USER
3,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:BGWP960:PB:FIORI_FLP
4,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG",PRIV:ROLE:BAMP900:FI:TV:TRAVELER
...,...,...,...,...
199530,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BAMP900:HR:ESS:CLAIMS_REIMBURSEMENT
199531,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BGWP960:IT:GW:PASSWORD_SELF_SERVICE
199532,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BAMP900:IT:BUSINESS_JOB_RELEASE_ACCESS
199533,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BGWP960:KS:KITS_CONFERENC_ROOM_BOOKING
199534,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS,PRIV:ROLE:BGWP960:KS:KITS_EMPLOYEE_EQUIPMENT_GRP

In [7]:
user_data = data.drop("privileges_data", axis=1)

In [8]:
user_data

,user_id,job,department
0,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
1,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
2,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
3,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
4,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
...,...,...,...
199530,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS
199531,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS
199532,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS
199533,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS
199534,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS

In [9]:
privileges_data = pd.DataFrame(data["privileges_data"])

In [10]:
privileges_data.privileges_data = privileges_data["privileges_data"].str[9:]

In [11]:
privileges_data

                                privileges_data
0                               :GOOGLE:ACCOUNT
1                              :BAMP900:PB:USER
2                          :BAMP900:RMS:HR_USER
3                         :BGWP960:PB:FIORI_FLP
4                       :BAMP900:FI:TV:TRAVELER
...                                         ...
199530     :BAMP900:HR:ESS:CLAIMS_REIMBURSEMENT
199531     :BGWP960:IT:GW:PASSWORD_SELF_SERVICE
199532  :BAMP900:IT:BUSINESS_JOB_RELEASE_ACCESS
199533  :BGWP960:KS:KITS_CONFERENC_ROOM_BOOKING
199534  :BGWP960:KS:KITS_EMPLOYEE_EQUIPMENT_GRP

[199511 rows x 1 columns]

In [12]:
privileges_table = pd.DataFrame(columns=['role', 'privilege'])
for i in privileges_data["privileges_data"].str.split(":", 2)[:].values:
    privileges_table = privileges_table.append({'role': i[1], 'privilege': i[2]}, ignore_index=True)

KeyboardInterrupt:

In [ ]:
privileges_table

In [187]:
 privileges_data = privileges_table

In [188]:
privileges_data

           role                       privilege
0        GOOGLE                         ACCOUNT
1       BAMP900                         PB:USER
2       BAMP900                     RMS:HR_USER
3       BGWP960                    PB:FIORI_FLP
4       BAMP900                  FI:TV:TRAVELER
...         ...                             ...
199506  BAMP900     HR:ESS:CLAIMS_REIMBURSEMENT
199507  BGWP960     IT:GW:PASSWORD_SELF_SERVICE
199508  BAMP900  IT:BUSINESS_JOB_RELEASE_ACCESS
199509  BGWP960  KS:KITS_CONFERENC_ROOM_BOOKING
199510  BGWP960  KS:KITS_EMPLOYEE_EQUIPMENT_GRP

[199511 rows x 2 columns]

In [234]:
#privileges_data.groupby('privilege').max().keys#.describe().role.count

In [242]:
user_data = user_data.dropna().reset_index()

In [243]:
user_data.drop('index', inplace=True, axis=1)

In [244]:
user_data

,user_id,job,department
0,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
1,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
2,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
3,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
4,AALISMNA,POSTDOCTORAL FELLOW,"BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG"
...,...,...,...
199506,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS
199507,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS
199508,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS
199509,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS
199510,ZYBINSA,SENIOR TECHNICAL SPECIALIST,INORGANICS

In [361]:
len(user_data.job.unique())

1581

In [264]:
len(user_data.department.unique())

463

In [269]:
len(user_data.user_id.unique())

6784

In [13]:
def loadFile(filepath):
    ext = filepath.split('.')[-1]
    if ext == 'xlsx':
        data = pd.read_excel(filepath, skiprows=1)
    elif ext == 'csv':
        data = pd.read_csv(filepath, skiprows=1)
    return data.dropna()

In [14]:
def removeUnneededContent(data, column, charsCount):
    charsCount += 1
    data[column]= data[column].str[charsCount:]

def separateSystemNameFromPrivilege(data, column):
    data['role'], data['priv'] = data[column].str.split(':', 1, expand=True)[0], data[column].str.split(':', 1, expand=True)[1]
    return data.drop(column, axis=1)
    
def GetResultsFromModel(data):   
    data.columns = ["user_id", "job", "department", "privileges_data"]
    removeUnneededContent(data, "privileges_data", 9)

In [35]:
def getPrivsOnAverageDistribution(data, job, department):
    print(type(data))
    segmentated_data = data[(data.job == job) & (data.department == department)] 
    avarege_count = int(segmentated_data.priv.value_counts().sum() / len(segmentated_data.priv.value_counts()))
    count = 0
    for p_c in segmentated_data.priv.value_counts():
        if p_c < avarege_count:
            break
        count += 1
    return segmentated_data.priv.value_counts().index.tolist()[:count]

In [16]:
def removeFile(filepath):
    os.remove(filepath)

In [17]:
def writeResult(result, filename):
    filepath = '../public/result/'+filename.split('.')[0]
    try: 
        os.mkfifo(filepath)
    except:
        fifo_write = open(filepath, 'w')
        fifo_write.write((",".join(x for x in result)))
        fifo_write.flush()

In [29]:
def getResult(job, department, filename):
    filepath = '../server/public/data/'+filename
    data = loadFile(filepath)
    GetResultsFromModel(data)
    data = separateSystemNameFromPrivilege(data, "privileges_data")
    result = getPrivsOnAverageDistribution(data, job, department)
    return result
    #writeResult(result, filename)
    #removeFile(filepath)
    #removeFile('../public/result/'+filename.split('.')[0])

In [36]:
job = 'POSTDOCTORAL FELLOW'
department = 'BIOLOGICAL, ENVIRONMENTAL SCIENCE & ENG'
filename = 'User-624921c5e1c4d602ddd19695-1649042286214.xlsx'
result = getResult(job, department, filename)

<class 'pandas.core.frame.DataFrame'>

In [31]:
result

['KAUST:END_USERS',
 'IT:UWL:ENDUSER',
 'RMS:HR_USER',
 'GA:GASC_MYREQUEST',
 'GRAC:END_USERS_BASE',
 'IT:GW:PASSWORD_SELF_SERVICE',
 'KS:KITS_CONFERENC_ROOM_BOOKING',
 'SM:ITSM:CREATE_INTERACTION',
 'KS:KITS_EMPLOYEE_EQUIPMENT_GRP',
 'IT:FIORI_INBOX_APPROVAL',
 'SM:ITSM:SELF_SERVICE',
 'HR:ESS:CLAIMS_REIMBURSEMENT',
 'GRAC:BUSINESS_ENDUSERS',
 'IT:GW:END_USER',
 'IT:GW:KAUST_ACCES_REQUEST',
 'IT:BUSINESS_JOB_RELEASE_ACCESS',
 'PB:USER',
 'ACCOUNT',
 'GA:GASC_REQUESTER',
 'FI:TV:TRAVELER',
 'RMS:TV:HR_USER',
 'KS:KITS_EMAIL_SERVICES',
 'KS:KITS_SECURITY_SERVICES',
 'HR:ESS:EMP_SELF_SERVICE',
 'HR:GW:EMP_SELF_SERVICE',
 'PB:FIORI_FLP',
 'SLCM:RM_END_USER',
 'IT:GW:USER_NOTIF',
 'IT:GW:USER_REPORTS',
 'IT:GW:USER_WORKFLOW']

In [89]:
def getPropsData():
    path = '../public/result/pipe'
    try:
        os.mkfifo(path)
    except:
        pass
    
    while True:
        print("Opening FIFO...")
        with open(path) as fifo:
            print("FIFO opened")
            while True:
                data = fifo.read()
                if len(data) == 0:
                    print("Writer closed")
                    break
                job, department, filename = data.split('?')
                getResult(job, department, filename)

In [90]:
getPropsData()

Opening FIFO...
FIFO opened
Writer closed
Opening FIFO...

KeyboardInterrupt: